<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><strong>Task 1</strong></h1>
  <p>To get the data of all the items click</p>
  <a href="/data/">GET DATA</a>
  <div class="container">
    <p>To post the data of item into database</p>
    <pre>
      {
        "item_code":"",
        "item_name":"",
        "item_quant":"",
        "item_price":
      }
    </pre>
  </div>
  <div class="container">
    <p>To put the data of item into database</p>
    <pre>
      {
        "item_code":"",
        "item_name":"",
        "item_quant":"",
        "item_price":
      }
    </pre>
  </div>
  <p>To get the data of all the invoice in database</p>
  <a href="/invoice/">GET Invoice</a>
  <div class="container">
    <p>To post the data of invoice into database</p>
    <pre>
      {
        "cust_name":"",
        "address":"",
        "items":[
            { 
                "item_code": "", 
                "item_quant": ""
            }, 
            ....
        ]
    }
    </pre>
  </div>
  <div class="container">
    <p>To put the data of invoice into database</p>
    <pre>
      {
        "UID": "",
        "cust_name":"",
        "address":"",
        "items":[
            { 
                "item_code": "", 
                "item_quant": ""
            }, 
            ....
        ]
    }
    </pre>
  </div>
</body>
</html>